nav {
    /* background-color: #333; */
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-underline-offset: 5px;
    font-size: 1.2em;
    color: #000;
    font-weight: 600;
}

nav a:hover {
    transition: 300ms;
    text-decoration: underline;
    /* background-color: #ddd; */
    color: black;
    /* font-size: 1.25em; */
    font-weight: 800;
}